# Core functionality - changes here should be rare!
/src/app.py                   @muxi75
/src/backend/database.py      @muxi75
/src/backend/routers/auth.py  @muxi75

# The frontend will need refactored soon to be more object oriented.
/src/static/   @muxi75
